<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
      <section name="EventMapping" type="Puppy.Monitoring.DucksboardPublisher.Configuration.EventMappingConfigSection, Puppy.Monitoring.DucksboardPublisher" />
  </configSections>

  <EventMapping>
    <Mappings url="https://push.ducksboard.com/v/" apiKey="Z9lFubcS9RQQWCKvP6d6gVQtQrqfLpKwxuKTNuq9JQSlMxAJjl">
      
      <add counter="0" 
           category="iBroker Integration" subCategory="QuestionQuery" 
           payload="Puppy.Monitoring.DucksboardPublisher.AbsoluteGraphPayload, Puppy.Monitoring.DucksboardPublisher"
           slotNumber="1" />
      
      <add counter="1" 
           category="iBroker Integration" 
           subCategory="QuoteQuery"
           payload="Puppy.Monitoring.DucksboardPublisher.AbsoluteGraphPayload, Puppy.Monitoring.DucksboardPublisher"
           slotNumber="1" />
      
    </Mappings>
  </EventMapping>
  
</configuration>